<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    
    
    <div class="container">
        <h1>Book Search</h1>
        <hr width="80%">
      <form action="/search" method="post" class="search">
        <input
          type="text"
          name="searchParams"
          placeholder="Search!"
          class="input"
        />
        <input type="submit" value="ðŸ”" class="btn" />
      </form>
    </div>