<%- include("partials/header.ejs")%>
<ul>
<%if(locals.stuff){ for(i=0; i<stuff.length; i++){%>
    
    <li>
        <form action="/viewCard" method="post">
        <button type="submit" name="<%=JSON.stringify(stuff[i])%>" class="viewLink">
        <%=stuff[i].title%>
    </button>
</form>
    </li>

<%}}%>
</ul>
     
    
 