<%- include("partials/header.ejs")%>
<ul>
<%if(locals.stuff){ for(i=0; i<stuff.length; i++){%>
    
    <li>
        <form action="/viewCard" method="post">
        <input type="submit" name="<%=stuff[i].author_key%>" class="viewLink" value="<%=stuff[i].title%>">
        
        
    
</form>
    </li>

<%}}%>
</ul>
     
    
 